.header {
    background-color: green;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;

}
.header a{
    text-decoration: none;
    color: snow;
}
.header a[class='active']{
    color: gold;
 }